repos:
# dogfood
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.3
  hooks:
    - id: check-dependabot
    - id: check-github-workflows
    - id: check-readthedocs
    - id: check-metaschema
      name: Validate Vendored Schemas
      files: ^src/check_jsonschema/builtin_schemas/vendor/.*\.json$
      exclude: ^src/check_jsonschema/builtin_schemas/vendor/azure-pipelines\.json$
    - id: check-metaschema
      name: Validate Vendored Schemas (nonunicode regexes)
      files: ^src/check_jsonschema/builtin_schemas/vendor/azure-pipelines\.json$
      args: ["--regex-variant", "nonunicode"]
    - id: check-jsonschema
      name: Validate Test Configs
      args: ["--schemafile", "tests/example-files/config_schema.json"]
      files: ^tests/example-files/.*/_config.yaml$
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v6.0.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.12.12'
        - 'flake8-typing-as-t==1.0.0'
        - 'flake8-comprehensions==3.16.0'
- repo: https://github.com/sirosen/slyp
  rev: 0.8.2
  hooks:
    - id: slyp
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
    - id: pyupgrade
      args: ["--py39-plus"]
