repos:
# dogfood
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-dependabot
    - id: check-github-workflows
    - id: check-readthedocs
    - id: check-metaschema
      name: Validate Vendored Schemas
      files: ^src/check_jsonschema/builtin_schemas/vendor/.*\.json$
      exclude: ^src/check_jsonschema/builtin_schemas/vendor/azure-pipelines\.json$
    - id: check-metaschema
      name: Validate Vendored Schemas (nonunicode regexes)
      files: ^src/check_jsonschema/builtin_schemas/vendor/azure-pipelines\.json$
      args: ["--regex-variant", "nonunicode"]
    - id: check-jsonschema
      name: Validate Test Configs
      args: ["--schemafile", "tests/example-files/config_schema.json"]
      files: ^tests/example-files/.*/_config.yaml$
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v5.0.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.5
  hooks:
    - id: ruff
      args: ["--fix"]
- repo: https://github.com/sirosen/slyp
  rev: 0.8.2
  hooks:
    - id: slyp
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
    - id: pyupgrade
      args: ["--py39-plus"]
