repos:
# dogfood
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.3
  hooks:
    - id: check-dependabot
    - id: check-github-workflows
    - id: check-readthedocs
    - id: check-metaschema
      name: Validate Vendored Schemas
      files: ^src/check_jsonschema/builtin_schemas/vendor/.*\.json$
    - id: check-jsonschema
      name: Validate Test Configs
      args: ["--schemafile", "tests/example-files/config_schema.json"]
      files: ^tests/example-files/.*/_config.yaml$
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.5.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
      additional_dependencies: ['flake8-bugbear==23.7.10']
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
  hooks:
    - id: pyupgrade
      args: ["--py37-plus"]
