repos:
# dogfood
- repo: https://github.com/mondeja/check-jsonschema
  rev: pre-commit-schemas
  hooks:
    - id: check-github-workflows
    - id: check-jsonschema
      name: Validate Vendored Schemas
      args: ["--check-metaschema"]
      files: ^src/check_jsonschema/builtin_schemas/vendor/.*\.json$
    - id: check-pre-commit-config
    - id: check-pre-commit-hooks
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.2.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
    - id: flake8
      additional_dependencies: ['flake8-bugbear==21.11.29']
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.32.1
  hooks:
    - id: pyupgrade
      args: ["--py37-plus"]
